<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Created Date</th>
            <th scope="col">Last Update Date</th>
          </tr>
        </thead>
        <tbody  *ngFor="let employee of listOfEmployees">
          <tr>
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.createdDate}}</td>
            <td>{{employee.lastUpdatedDate}}</td>
          </tr>
       
        </tbody>
      </table>
</div>