<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="div">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" [(ngModel)] = "newEmployee.name" class="form-control mt-2 mb-2" id="name" placeholder="Enter Name" required>
                </div>
                <div class="div">
                    <label for="exampleInputEmail1">Department</label>
                    <input type="text" [(ngModel)] = "newEmployee.department" class="form-control mt-2 mb-2" id="department" placeholder="Enter Department" required>
                </div>
            </div>
      
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="div">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" [(ngModel)] = "newEmployee.email" class="form-control mt-2 mb-2" id="email" placeholder="Enter Email" required>
                </div>
                <div class="div">
                    <label for="exampleInputEmail1">Created Date</label>
                    <input type="text" [(ngModel)] = "newEmployee.createdDate" class="form-control mt-2 mb-2" id="createdDate" placeholder="Created Date" required>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="div">
                    <label for="exampleInputEmail1">Last Update Date</label>
                    <input type="text" [(ngModel)] = "newEmployee.lastUpdatedDate" class="form-control mt-2 mb-2" id="lastUpdateDate" placeholder="Last Update Date" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="registerUser()">Register Employee</button>
        </div>
    </div>
</div>