<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span style="font-size: 20px;">Fortium Partners</span> <br/><span style="font-size: 15px;">HR Department</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/register" >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/view-employee">View Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/update-employee">Update Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-danger fw-bold " aria-current="page" routerLink="/delete-employee" >Delete Employee</a>
          </li>
          
          
        
          
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-danger" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>